*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*Ajustes Generales*/
h1,h2,h3,h4{
    color: rgb(31, 29, 29);
    font-weight: 300;
}
.contenedor ,.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
    overflow: hidden;
}
h1{
    font-size: 2em;
    width: 40%;
}/* HEADER */
body > header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}/*Barra de Navegacion*/nav{
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    transition: ease-in-out 0.5s;
}/*Logo*/
nav > img{
    margin: 12% 0;
    height: 80%;
    display: inline-block;
    vertical-align: top;
}.titulo-principal2{
    width: 100%;
}/*Contenedor enlaces*/nav ul{
    display: inline-block;
    width: 50%;
    font-weight: 300;
}
/*Enlaces*/
nav ul a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 25px;
}/*Hamburguesa contendedor*/
.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}/*Hamburguesa*/
.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}/*Contenedor Header*/
.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} /*Imagen Contenedor Header*/
.contenido-header>img{
    width: 550px;
    display:block;
}/*Contenedor Textos Header*/
.textos-header{
    font-weight: 300;
    justify-content: center;
    color: #818691;
}/* Caracteristicas textos header*/
.textos-header>h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.textos-header p{
    font-size: 18px;
}
.textos-header a{
    margin: 28px 0 0 90px;
    width: 130px;
    display: inline-block;
    background-color: #e00434;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(224, 4, 52, .45);
}
/*ABOUT US*/
.titulo-about-us{
    font-size: 43px;
    margin-left: 0.3em;
    padding-top: 30px;
}
.about-us{
    background: #f2f2f2;
}/*Posicionamiento de los contenedores About us*/
.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;

}/*Contenedor articulo*/
.articulo{
    width: 29%;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;

}/*Accion al pasar el mouse*/
.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}/*img de cada articulo*/
.contenedor img{
    width: 80px;
    display: block;
    margin-bottom: 2.8em;
    margin-left: auto;
    margin-right: auto;
}/*Caracteristicas generales del contenedor articulo*/
.articulo h3{
    font-weight: 400;
    font-size: 24px;
}
.articulo > p{
    font-weight: 300;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 42px;
    text-align: left;
    
}
.articulo > a{
    width: 130px;
    padding: 7px 0;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 1em;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #e00434;
    color:antiquewhite
}/*Accion al presionar el boton*/
.articulo>a:hover{
    background-color: lightseagreen;
    transition: background .7s;
}